/* h1{
    font-family: 'Great Vibes', cursive;
}

p{font-family: 'Kalam', cursive;} */
body {
  box-sizing: border-box;
  margin: auto;
  width: 901px;
}
header {
  display: flex;
}

.logo {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

header ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: center;
}

header ul li {
  margin: 0 5px;
  justify-content: right;
}

.logo h2 {
  font-family: "Great Vibes", cursive;
  font-size: 25px;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 10px;
  background-image: url("../img/hr-img.png");
  background-repeat: repeat;
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  background-image: url("../img/list-bg.png");
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 10px;
  box-shadow: 0px 7px 3px #ccc;
}

.list ul {
  list-style: none;
  color: #777;
}
.left {
  width: 50%;
  font-family: "Kalam", cursive;
}

.right {
  height: 50%;
  font-family: "Kalam", cursive;
}

.list ul li {
  margin: 9px 0;
  position: relative;
  top: 3px;
}

article p {
  text-indent: 30px;
  color: #999;
}
.list .right li:nth-child(2),
.list .right li:nth-child(3) {
  text-decoration: line-through;
}

footer {
  margin: 50px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  position: relative;
}

footer img {
  position: absolute;
  top: -19px;

  box-shadow: 7px 0px #fff, -7px 0 #fff;
}

.parag {
  margin-top: 39px;
}
.Venna-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.venna {
  display: flex;
  width: 85%;
}

.venna img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-right: 20px;
}

footer p {
  color: #c6c6c6;
}

a {
  padding: 10px;
  background-color: orangered;
  color: white;
  position: relative;
  top: 20px;
}
